.errorpags{
    background-image:url('https://img.freepik.com/premium-photo/error-page-found-system-updates-system-maintenance-installation-programs-concept_73903-949.jpg?size=626&ext=jpg&ga=GA1.2.1636033582.1682966548&semt=ais');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}